:root {
	font-size: 17px;
	font-weight: 300;
	--color-text: #000;
	--color-text-alt: #fff;
	--color-frame-alt: #a17445;
	--color-bg: #c6c1b7;
	--color-bg-alt: #18130e;
	--color-link: #000;
	--color-link-alt: #fff;
	--color-link-hover: #000;
	--color-link-hover-alt: #a17445;
	--color-column-title: #727170;
	--color-overlay: #000;
	--color-border: #a0988a;
}

main {
    padding: 1.5rem 2.5rem 3rem;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 'frame' 'content';
    grid-template-rows: min-content 1fr;
    grid-row-gap: 8vh;
}

.content {
    grid-area: content;
    max-width: 400px;
}

@media screen and (min-width: 53em) {
    .content {
        max-width: none;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 100%;
        grid-column-gap: 5vh;
    }
}

.item {
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1rem auto auto 1fr auto;
}

.item__title {
    font-family: kudryashev-d-excontrast-sans, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.item__img {
    width: 100%;
    aspect-ratio: 500/333;
    position: relative;
    overflow: hidden;
}

.item__img-inner {
    background-position: 50% 45%;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.item__desc {
    margin-top: 2.5rem;
    line-height: 1.1;
}

.item__link {
    cursor: pointer;
    text-transform: lowercase;
    width: 100%;
    padding: 1rem;
    color: var(--color-text);
    border: 1px solid var(--color-border);
    border-radius: 2rem;
    text-align: center;
}

.item__link:hover {
    background: var(--color-text);
    border-color: var(--color-text);
    color: var(--color-text-alt);
}

@media screen and (min-width: 53em) {
    .item {
        margin-bottom: 0;
    }
    .item__title {
        font-size: clamp(1.25rem,3vw,2rem);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    pointer-events: none;
    grid-template-rows: repeat(2,1fr);
}

.overlay__row {
    background: var(--color-overlay);
    transform: scaleY(0);
    will-change: transform;
}

.overlay__row:first-child {
    transform-origin: 50% 0%;
}

.overlay__row:last-child {
    transform-origin: 50% 100%;
}

.oh {
    position: relative;
    overflow: hidden;
}

.oh__inner {
    will-change: transform;
    display: inline-block;
}

.line {
    transform-origin: 0 50%;
    white-space: nowrap;
    will-change: transform;
}


/* out of this tutor */

.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}

a:not(.frame__title-back):not(.item__link)::before {
	content: '';
	height: 1px;
	width: 100%;
	background: currentColor;
	position: absolute;
	top: 92%;
	transition: transform 0.3s;
	transform-origin: 0% 50%;
}

a:not(.frame__title-back):not(.item__link):hover::before {
	transform: scaleX(0);
	transform-origin: 100% 50%;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

.preview-visible .frame a {
	color: var(--color-frame-alt);
}

.preview-visible a:hover {
	color: var(--color-link-hover-alt);
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
}

.unbutton:focus {
	outline: none;
}